body {
    overflow-y: scroll;
}

body.iframe-mode .content-wrapper {
    margin-left: 0;
}

.alert .close {
    text-decoration: none;
}

.btn {
    border: 0;
}

.page-error .content-header {
    display: none;
}

.subContentNotification {
    display: none;
}

.subContentSelect {
    display: none;
}

.text-normal {
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
}

textarea.form-control {
    resize: vertical;
}

.form-group.has-error .cke_chrome {
    border-color: #dd4b39;
}

.previewable-image-wrapper .previewer-wrapper .previewer {
    transition: all 0.3s;
    opacity: 1;
    max-width: 100%;
}

.previewable-image-wrapper .previewer-wrapper.loading {
    padding: 30px;
    height: 100px;
    background: url('/public/img/loading.gif') no-repeat 50% 50%;
    overflow: hidden;
}

.previewable-image-wrapper .previewer-wrapper.loading .previewer {
    opacity: 0;
    height: 40px;
}

.dropzone {
    border: 3px dashed #ddd !important;
    border-radius: 5px !important;
}

.dropzone .dz-message {
    font-size: 24px;
    color: #bbb;
}

.select2 {
    width: 100% !important;
}

.toggle-group .btn {
    border: none;
    box-shadow: none;
}
