@font-face {
    font-family: 'Source Sans Pro';
    src: url('/public/font/SourceSansPro-LightItalic.eot');
    src: local('Source Sans Pro Light Italic'), local('SourceSansPro-LightItalic'),
    url('/public/font/SourceSansPro-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('/public/font/SourceSansPro-LightItalic.woff2') format('woff2'),
    url('/public/font/SourceSansPro-LightItalic.woff') format('woff'),
    url('/public/font/SourceSansPro-LightItalic.ttf') format('truetype'),
    url('/public/font/SourceSansPro-LightItalic.svg#SourceSansPro-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('/public/font/SourceSansPro-Italic.eot');
    src: local('Source Sans Pro Italic'), local('SourceSansPro-Italic'),
    url('/public/font/SourceSansPro-Italic.eot?#iefix') format('embedded-opentype'),
    url('/public/font/SourceSansPro-Italic.woff2') format('woff2'),
    url('/public/font/SourceSansPro-Italic.woff') format('woff'),
    url('/public/font/SourceSansPro-Italic.ttf') format('truetype'),
    url('/public/font/SourceSansPro-Italic.svg#SourceSansPro-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('/public/font/SourceSansPro-SemiBold.eot');
    src: local('Source Sans Pro SemiBold'), local('SourceSansPro-SemiBold'),
    url('/public/font/SourceSansPro-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('/public/font/SourceSansPro-SemiBold.woff2') format('woff2'),
    url('/public/font/SourceSansPro-SemiBold.woff') format('woff'),
    url('/public/font/SourceSansPro-SemiBold.ttf') format('truetype'),
    url('/public/font/SourceSansPro-SemiBold.svg#SourceSansPro-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('/public/font/SourceSansPro-Regular.eot');
    src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'),
    url('/public/font/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('/public/font/SourceSansPro-Regular.woff2') format('woff2'),
    url('/public/font/SourceSansPro-Regular.woff') format('woff'),
    url('/public/font/SourceSansPro-Regular.ttf') format('truetype'),
    url('/public/font/SourceSansPro-Regular.svg#SourceSansPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('/public/font/SourceSansPro-Light.eot');
    src: local('Source Sans Pro Light'), local('SourceSansPro-Light'),
    url('/public/font/SourceSansPro-Light.eot?#iefix') format('embedded-opentype'),
    url('/public/font/SourceSansPro-Light.woff2') format('woff2'),
    url('/public/font/SourceSansPro-Light.woff') format('woff'),
    url('/public/font/SourceSansPro-Light.ttf') format('truetype'),
    url('/public/font/SourceSansPro-Light.svg#SourceSansPro-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('/public/font/SourceSansPro-SemiBoldItalic.eot');
    src: local('Source Sans Pro SemiBold Italic'), local('SourceSansPro-SemiBoldItalic'),
    url('/public/font/SourceSansPro-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('/public/font/SourceSansPro-SemiBoldItalic.woff2') format('woff2'),
    url('/public/font/SourceSansPro-SemiBoldItalic.woff') format('woff'),
    url('/public/font/SourceSansPro-SemiBoldItalic.ttf') format('truetype'),
    url('/public/font/SourceSansPro-SemiBoldItalic.svg#SourceSansPro-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('/public/font/SourceSansPro-Bold.eot');
    src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'),
    url('/public/font/SourceSansPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('/public/font/SourceSansPro-Bold.woff2') format('woff2'),
    url('/public/font/SourceSansPro-Bold.woff') format('woff'),
    url('/public/font/SourceSansPro-Bold.ttf') format('truetype'),
    url('/public/font/SourceSansPro-Bold.svg#SourceSansPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

