// Previewable image
// -----------------------------------------------
.previewable-image-wrapper {
  p:first-child {
    margin-bottom: 0.5rem;
  }

  .previewer-wrapper {
    .previewer {
      max-width: 100%;
      opacity: 1;
      transition: all 0.3s;
    }

    &.loading {
      .previewer {
        opacity: 0;
        //height: 40px;
      }
    }
  }
}
