<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link rel="shortcut icon" href="/public/img/favicon.ico" type="image/x-icon" />
        <title>Login | {{ app.title }}</title>
        
        <link rel="stylesheet" href="/public/admin/admin.css" />
    </head>
    
    <body class="login-page">
        <div class="page-content login-cover">
            <div class="content-wrapper">
                <div class="content d-flex justify-content-center align-items-center">
                    
                    <!-- Login card -->
                    <form action="/login" method="post" class="login-form" autocomplete="off" novalidate>
                        <div class="card mb-0">
                            <div class="card-body">
                                <div class="text-center mb-3">
                                    <a href="javascript:void(0);">
                                        <img src="/public/img/meen_icon.png" class="img-fluid center-block" width="100" alt="{{ app.title }}" />
                                    </a>
                                    <h5 class="mb-0">Login to your account</h5>
                                    <span class="d-block text-muted">Your credentials</span>
                                </div>
                                
                                <div class="form-group form-group-feedback form-group-feedback-left">
                                    <input type="text" class="form-control required" placeholder="Username" name="username" />
                                    <div class="form-control-feedback">
                                        <i class="{{ ICONS.USER }} text-muted"></i>
                                    </div>
                                </div>
                                
                                <div class="form-group form-group-feedback form-group-feedback-left">
                                    <input type="password" class="form-control required" placeholder="Password" name="password" />
                                    <div class="form-control-feedback">
                                        <i class="{{ ICONS.PASSWORD }} text-muted"></i>
                                    </div>
                                </div>
    
                                <div class="form-group mb-0">
                                    <button type="submit" class="btn btn-primary btn-block">
                                        Login <i class="icon-circle-right2 ml-1"></i>
                                    </button>
                                </div>

                            </div>
                        </div>
                    </form>
                
                </div>
            </div>
        </div>
        
        <script type="text/javascript" src="/public/admin/admin.js"></script>
    </body>
</html>