<!DOCTYPE html>
<html lang="en">

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link rel="shortcut icon" href="/public/img/favicon.ico" type="image/x-icon" />
        <title>{{ title }} | {{ app.title }}</title>

        <link rel="stylesheet" href="/public/admin/admin-libs.css" />
        <link rel="stylesheet" href="/public/admin/admin.css" />
        @!section('style')
    </head>

    <body class="navbar-top {{ isIframeMode ? 'iframe-mode' : 'fixed' }} {{ bodyClass }}">
    
    
    
        <!-- Main navbar -->
        <div class="navbar navbar-expand-md navbar-light fixed-top">
        
            <!-- Header with logos -->
            <div class="navbar-header navbar-dark d-none d-md-flex align-items-md-center">
                <div class="navbar-brand navbar-brand-md">
                    <a href="/" class="d-inline-block">
                        <img src="/public/img/logo_white.png" />
                    </a>
                </div>
            
                <div class="navbar-brand navbar-brand-xs">
                    <a href="/" class="d-inline-block">
                        <img src="/public/img/logo_white_mini.png" />
                    </a>
                </div>
            </div>
            <!-- /header with logos -->
        
        
            <!-- Mobile controls -->
            <div class="d-flex flex-1 d-md-none">
                <div class="navbar-brand mr-auto">
                    <a href="index.html" class="d-inline-block">
                        <img src="/public/img/logo_color.png" />
                    </a>
                </div>
            
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
                    <i class="icon-tree5"></i>
                </button>
            
                <button class="navbar-toggler sidebar-mobile-main-toggle" type="button">
                    <i class="icon-paragraph-justify3"></i>
                </button>
            </div>
            <!-- /mobile controls -->
        
        
            <!-- Navbar content -->
            <div class="collapse navbar-collapse" id="navbar-mobile">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="#" class="navbar-nav-link sidebar-control sidebar-main-toggle d-none d-md-block">
                            <i class="icon-paragraph-justify3"></i>
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-md-auto">
                    <li class="nav-item dropdown dropdown-user">
                        <a href="#" class="navbar-nav-link dropdown-toggle" data-toggle="dropdown">
                            <span><i class="{{ ICONS.USER }}"></i> Hi <b> {{ currentUser.username }}</b></span>
                        </a>
                    
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="/profile" class="dropdown-item"><i class="{{ ICONS.USER_PROFILE }}"></i> My profile</a>
                            <a href="/logout" class="dropdown-item"><i class="{{ ICONS.LOGOUT }}"></i> Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- /navbar content -->
    
        </div>
        <!-- /main navbar -->
    
    
        <!-- Page content -->
        <div class="page-content">
        
            <!-- Main sidebar -->
            <div class="sidebar sidebar-dark sidebar-main sidebar-fixed sidebar-expand-md">
            
                <!-- Sidebar mobile toggler -->
                <div class="sidebar-mobile-toggler text-center">
                    <a href="#" class="sidebar-mobile-main-toggle">
                        <i class="icon-arrow-left8"></i>
                    </a>
                    Navigation
                    <a href="#" class="sidebar-mobile-expand">
                        <i class="icon-screen-full"></i>
                        <i class="icon-screen-normal"></i>
                    </a>
                </div>
                <!-- /sidebar mobile toggler -->
            
            
                <!-- Sidebar content -->
                <div class="sidebar-content">
                
                    <!-- Main navigation -->
                    <div class="card card-sidebar-mobile">
                        <ul class="nav nav-sidebar" data-nav-type="accordion">
                            @!component('common/menus')
                        </ul>
                    </div>
                    <!-- /main navigation -->
            
                </div>
                <!-- /sidebar content -->
        
            </div>
            <!-- /main sidebar -->
        
        
            <!-- Main content -->
            <div class="content-wrapper">
    
                <!-- Page header -->
                <div class="page-header page-header-light">
                    <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                        <div class="d-flex">
                            <div class="breadcrumb">
                                <a href="/" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                                <span class="breadcrumb-item active">{{ title }}</span>
                            </div>
                
                            <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
                        </div>
                    </div>
                </div>
                <!-- /page header -->
            
            
                <!-- Content area -->
                <div class="content">
                    @!section('content')
                </div>
                <!-- /content area -->
            
            
                <!-- Footer -->
                <div class="navbar navbar-expand-lg navbar-light">
                    <div class="text-center d-lg-none w-100">
                        <button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse" data-target="#navbar-footer">
                            <i class="icon-unfold mr-2"></i>
                            Footer
                        </button>
                    </div>
                
                    <div class="navbar-collapse collapse" id="navbar-footer">
                        <span class="navbar-text">
                            &copy; {{ formatter.currentYear }} <a href="/">{{ app.title }}</a> by <a href="mailto:ducdhm@gmail.com" target="_blank">Duc Doan</a>
                        </span>
                    </div>
                </div>
                <!-- /footer -->
        
            </div>
            <!-- /main content -->
    
        </div>
        <!-- /page content -->

        <script src="/public/admin/admin-libs.js"></script>
        <script src="/public/admin/admin.js"></script>
        @!section('script')
    </body>
</html>