<!DOCTYPE html>
<html lang="en">

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link rel="shortcut icon" href="/public/img/favicon.ico" type="image/x-icon" />
        <title>Đăng nhập | {{ app.title }}</title>

        <!-- Bootstrap 3.3.7 -->
        <link rel="stylesheet" href="/public/plugins/bootstrap/dist/css/bootstrap.min.css" />
        <!-- Font Awesome -->
        <link rel="stylesheet" href="/public/plugins/font-awesome/css/font-awesome.min.css" />
        <!-- Theme style -->
        <link rel="stylesheet" href="/public/plugins/AdminLTE-2.4.5/css/AdminLTE.min.css" />
        <link rel="stylesheet" href="/public/css/admin.css" />
        <link rel="stylesheet" href="/public/css/login.css" />
    </head>

    <body class="hold-transition login-page">
        <div class="login-box">
            <div class="login-box-form">
                <div class="login-logo">
                    <a href="javascript:void(0);">
                        <img src="/public/img/logo.png" class="img-responsive center-block" alt="{{ app.title }}" />
                    </a>
                </div>
                <form action="/login" method="post" autocomplete="off" novalidate>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control input-lg required" placeholder="Tên đăng nhập" name="username" />
                        <span class="{{ ICONS.USER }} fa-2x form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="password" class="form-control input-lg required" placeholder="Mật khẩu" name="password" />
                        <span class="{{ ICONS.PASSWORD }} fa-2x form-control-feedback"></span>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 text-right">
                            <button type="submit" class="btn btn-lg btn-primary btn-block btn-flat">Đăng nhập</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <script type="text/javascript" src="/public/plugins/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="/public/plugins/moment/min/moment-with-locales.min.js"></script>
        <script type="text/javascript" src="/public/plugins/common/common.js"></script>
        <script type="text/javascript" src="/public/plugins/common/jqExtras.js"></script>
        <script type="text/javascript" src="/public/plugins/jquery.forms-1.1.1/jquery.forms-1.1.1-vn.js"></script>
        <script type="text/javascript" src="/public/js/login.js"></script>
    </body>
</html>