@import "_variables";

.screen-retina(@rules) {
    @media
    only screen and (-webkit-min-device-pixel-ratio: 1.25),
    only screen and ( min--moz-device-pixel-ratio: 1.25),
    only screen and ( -o-min-device-pixel-ratio: 1.25/1),
    only screen and ( min-device-pixel-ratio: 1.25),
    only screen and ( min-resolution: 200dpi),
    only screen and ( min-resolution: 1.25dppx) {
        @rules();
    }
}

.screen-lg(@rules) {
    @media only screen and (min-width: @screen-lg-min) {
        @rules();
    }
}

.screen-md(@rules) {
    @media only screen and (min-width: @screen-md-min) and (min-width: @screen-md-max) {
        @rules();
    }
}

.screen-sm(@rules) {
    @media only screen and (min-width: @screen-sm-min) and (min-width: @screen-sm-max) {
        @rules();
    }
}

.screen-xs(@rules) {
    @media only screen and (max-width: @screen-xs-max) {
        @rules();
    }
}

.background-image(@path) {
    @2xpath: ~`@{path}.replace(/\.\w+$/, function(match) { return "@2x" + match; })`;
    
    background-image: url(@path);
    
    .screen-retina({
        background-image: url(@2xpath);
    });
}
