@import "../../styles/mixins";

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;

    img {
        height: 48px;
    }
}

#msg {
    overflow: unset;
    width: auto !important;
    min-width: 300px;
    max-width: 600px;

    span {
        font-size: inherit;
    }

    @include screen-xs {
        max-width: 90%;
    }
}

.nf-form-message {
    border: 0;
}
