#image-upload-widget {
    cursor: pointer;
}

.image {
    .embed-responsive-item {
        background: no-repeat 50% 50% / cover;
    }

    .btn {
        width: 36px;
    }
}

.btn-select-image {
    display: none;

    body.iframe-mode & {
        display: inline-block;
    }
}
